<?xml version="1.0" encoding="utf-8"?>
<!--

    Development Environment for Web
    Copyright (C) 2012-2013 Jaroslav Tulach <jaroslav.tulach@apidesign.org>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, version 2 of the License.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. Look for COPYING file in the top folder.
    If not, see http://opensource.org/licenses/GPL-2.0.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apidesign.bck2brwsr.dew.javac"
    android:versionCode="1"
    android:versionName="0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="wora-dew"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name="org.apidesign.brwsr.DlvkBrwsr" 
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Configuration section. Defines: 
           - the HTML page to load on start
           - the class that contains the main initialization method
           - name of the initialization method in the given class
        -->
        <meta-data android:name="loadPage" android:value="file:///android_asset/pages/index.html" />
        <meta-data android:name="loadClass" android:value="org.apidesign.bck2brwsr.dew.javac.Main" />
        <meta-data android:name="invoke" android:value="onPageLoad" />
    </application>

    <!-- allows use of internet and also 'call-home' feature. See 
      licensing section in Javadoc
    -->    
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
